@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




a {
    text-decoration: none;
    color: #E4B564;

}

h1 {
    margin-left: 15px;
    color: white;
    margin-top: 60px;
    font-size: 30px;
    line-height: 28px;
}

h2 {
    color: white;
    font-style: normal;
    font-size: 30px;
    line-height: 28px;
    margin-top: 200px;
    margin-bottom: 100px;
    font-family: "Montserrat";
}

h3 {
    color: white;
    font-style: normal;
    font-size: 30px;
    line-height: 28px;
    margin-top: 200px;
    margin-bottom: 100px;
}

p {
    margin-left: 15px;
    color: white;
}

body {
    background-color: #171717;
}
.container {
    width: 1280px;
    margin: auto;
    font-family: "Montserrat";
}

.header-page {
    width: 1280px;
    justify-content: center;
}

.header-item {
    color: aliceblue;
    margin-bottom: 20px;
}

.page-main {
    margin-top: 100px;
    width: 1280px;
    font-size: 20px;

}

.footer-page {
    font-family: "Montserrat";

}

button {
    display: block;
    float: right;
    border: 1px solid #E4B564;
    border-radius: 2px;
    background-color: inherit;
    height: 40px;
}

.button-1 {
    width: 200px;
    height: 40px;
    font-size: 17px;
}

.button-2 {
    width: 200px;
    height: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 30px repeat(10, 1fr);
    grid-gap: 10px;
    padding: 10px;
}
.grid-container-3{
display: grid;
grid-template-columns: 1fr 20px repeat(10, 1fr);
height: 1000px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.grid-item-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 30;
    background-color: #634F2C;
}

.grid-item-2 {
    grid-column: 5 / 9;
    grid-row: 1 / 30;
    background-color: #B4A385;
}

.grid-item-3 {
    grid-column: 9 / 13;
    grid-row: 1 / 30;
    background: #E4B564;

}

.grid-item-4 {
    grid-column: 1 / 7;
    grid-row: 30 / 60;
    background: #635A4A;
}

.grid-item-5 {
    grid-column: 7 / 13;
    grid-row: 30 / 60;
    background: #B08C4D;

}

.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 30px repeat(10, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item-6 {
    grid-column: 1 / 5;
    grid-row: 1/30;
    background-color: #0A0909;
}

.grid-item-7 {
    grid-column: 5 /10;
    grid-row: 1 / 45;
    background: #242424;
}

.grid-item-8 {
    grid-column: 10 / 15;
    grid-row: 1 / 20;
    background: #242424;
}

.grid-item-9 {
    grid-column: 1 / 5;
    grid-row: 30 / 90;
    background: #242424;
}

.grid-item-10 {
    grid-column: 5 / 10;
    grid-row: 45 / 88;
    background: #E4B564;
}

.grid-item-11 {
    grid-column: 10 / 15;
    grid-row: 20 / 55;
    background: #0E0E0E;
}

.grid-item-12 {
    grid-column: 10 / 15;
    grid-row: 55/90;
    background: #0A0909;
}

.grid-item-13 {
    grid-column: 1 / 5;
    grid-row: 1/45;
    background: #634F2C;
}

.grid-item-14 {
    grid-column: 5 / 9;
    grid-row: 1/45;
    background-color: #E8D2AB;
    display: flex;
    flex-direction: column;
}

.grid-item-15 {
    grid-column: 9 / 13;
    grid-row: 1/45;
    background-color: #E4B564;
}

.grid-item-16 {
    grid-column: 1/5;
    grid-row: 45/90;
    background-color: #635A4A;
}

.grid-item-17 {
    grid-column: 5/9;
    grid-row: 45/90;
    background-color: #B08C4D;
}

.grid-item-18 {
    grid-column: 9 / 13;
    grid-row: 45/90;
    background-color: #634F2C;
}